@font-face {
  font-family: "SCDream1";
  src: url("../font/SCDream1.woff"), url("../font/SCDream1.ttf"), url("../font/SCDream1.otf");
}
@font-face {
  font-family: "SCDream2";
  src: url("../font/SCDream2.woff"), url("../font/SCDream2.ttf"), url("../font/SCDream2.otf");
}
@font-face {
  font-family: "SCDream3";
  src: url("../font/SCDream3.woff"), url("../font/SCDream3.ttf"), url("../font/SCDream3.otf");
}
@font-face {
  font-family: "SCDream4";
  src: url("../font/SCDream4.woff"), url("../font/SCDream4.ttf"), url("../font/SCDream4.otf");
}
@font-face {
  font-family: "SCDream5";
  src: url("../font/SCDream5.woff"), url("../font/SCDream5.ttf"), url("../font/SCDream5.otf");
}
@font-face {
  font-family: "SCDream6";
  src: url("../font/SCDream6.woff"), url("../font/SCDream6.ttf"), url("../font/SCDream6.otf");
}
@font-face {
  font-family: "SCDream7";
  src: url("../font/SCDream7.woff"), url("../font/SCDream7.ttf"), url("../font/SCDream7.otf");
}
@font-face {
  font-family: "SCDream8";
  src: url("../font/SCDream8.woff"), url("../font/SCDream8.ttf"), url("../font/SCDream8.otf");
}
@font-face {
  font-family: "SCDream9";
  src: url("../font/SCDream9.woff"), url("../font/SCDream9.ttf"), url("../font/SCDream9.otf");
}
body {
  font-family: SCDream4;
  font-size: 14px;
}

.main {
  background-color: #D5E0EB;
}

button {
  cursor: pointer;
  background: linear-gradient(#1F317B, #0F1D6C);
  border: 0;
  border-radius: 13px;
  color: white;
  font-size: 14px;
  font-family: SCDream6;
  line-height: 36px;
}
button:hover {
  background: linear-gradient(#112DA1, #0F1D6C);
}

.btn-stlye-01 {
  height: 36px;
  text-align: left;
  padding-left: 10px;
  width: 100px;
}
.btn-stlye-01 img {
  margin-right: 5px;
  vertical-align: middle;
}

.btn-stlye-02 {
  text-align: left;
  padding-left: 10px;
  width: 120px;
}
.btn-stlye-02 img {
  margin-right: 5px;
  vertical-align: middle;
}

.btn-stlye-03 {
  text-align: left;
  padding-left: 10px;
  width: 120px;
}
.btn-stlye-03 img {
  margin-right: 12px;
  vertical-align: middle;
}

.btn-stlye-04 {
  text-align: left;
  padding-left: 10px;
  width: 160px;
}
.btn-stlye-04 img {
  margin-right: 14px;
  vertical-align: middle;
}

.btn-stlye-05 {
  text-align: left;
  padding-left: 10px;
  width: 120px;
  background: linear-gradient(#AF1E23, #931D22);
}
.btn-stlye-05 img {
  margin-right: 12px;
  vertical-align: middle;
}
.btn-stlye-05:hover {
  background: linear-gradient(#C51A20, #931D22);
}

.btn-stlye-06 {
  width: 100px;
  background: white;
  color: #BA2126;
  border: 1px solid #BA2126;
}
.btn-stlye-06:hover {
  color: #D5262B;
  background: white;
}

.btn-stlye-07 {
  width: 90px;
  background: white;
  background: linear-gradient(#AF1E23, #931D22);
  border: 1px solid #BA2126;
}
.btn-stlye-07:hover {
  background: linear-gradient(#C51A20, #931D22);
}

.btn-stlye-08 {
  height: 36px;
  width: 190px;
}

.mo {
  display: none;
}

input[type=text]:-moz-read-only {
  color: #B5B5B5;
}

input[type=text]:read-only {
  color: #B5B5B5;
}

input {
  border: 1px solid #CCCCCC;
  border-radius: 12px;
  height: 36px;
  font-family: "SCDream4";
}

select {
  width: 260px;
  border: 1px solid #CCCCCC;
  height: 36px;
  border-radius: 12px;
  padding: 0px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/btn_select.png) no-repeat 98%;
  background-color: white;
  font-family: "SCDream4";
}

input[type=checkbox] {
  width: 19px;
  height: 19px;
  border-radius: 4px;
  border: 1px solid #1F317B;
  background-color: #FFFFFF;
  position: relative;
}
input[type=checkbox]::before {
  content: "";
  background-image: url(../img/ic_s_checked.png);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 58%;
  left: 50%;
  overflow: hidden;
  transform: scale(0) translate(-50%, -50%);
  line-height: 1;
}
input[type=checkbox]:checked {
  background-color: #1F317B;
}
input[type=checkbox]:checked::before {
  transform: scale(1) translate(-50%, -50%);
}

input[type=checkbox]:disabled {
  background-color: #EEEEEE;
  border: 1px solid #B5B5B5;
}
input[type=checkbox]:disabled::before {
  transform: scale(0) translate(-50%, -50%);
}
input[type=checkbox]:disabled:checked {
  background-color: #B5B5B5;
}
input[type=checkbox]:disabled:checked::before {
  transform: scale(1) translate(-50%, -50%);
}

header {
  padding: 5px 30px 5px 20px;
  text-align: left;
  border-bottom: 2px solid #000000;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  z-index: 999;
}
header .btn-menu {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: transparent;
  background-image: url(../img/ic_menu.png);
  margin-right: 20px;
}
header .con {
  display: flex;
  align-items: center;
}
header .cart {
  position: relative;
}
header .cart .alarm {
  top: -12px;
  left: 24px;
  position: absolute;
  background-color: #BA2126;
  color: white;
  font-size: 14px;
  padding: 5px 6px 5px 5px;
  font-family: SCDream5;
  border-radius: 100%;
  line-height: 1;
}

.page-name {
  font-family: SCDream6;
  font-size: 18px;
  margin-left: 43px;
  position: relative;
}
.page-name::before {
  content: "|";
  position: absolute;
  top: 0%;
  left: -22px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 53px;
}
.user-info .frame {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}
.user-info .user-name {
  margin-left: 20PX;
  font-size: 16px;
  font-family: SCDream5;
}

.list-bg {
  background-color: #0F1D6C;
  position: fixed;
  height: 100%;
  width: 300px;
  top: 0;
  z-index: -1;
}

.left-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  opacity: 0.9;
  z-index: 100;
  display: none;
}
.left-menu span {
  color: #E5F2FF;
  font-size: 17px;
  font-family: "SCDream5";
}
.left-menu .list-container {
  margin-top: 10px;
}
.left-menu .list-container .menu-title {
  background-color: #5A669A;
  color: white;
  font-size: 15px;
  font-family: "SCDream5";
  text-align: left;
  padding-left: 20px;
  line-height: 30px;
}
.left-menu .list-container .list-wrap li {
  display: block;
  text-align: left;
  padding-left: 30px;
  line-height: 60px;
}
.left-menu .list-container .list-wrap li:hover span {
  color: white;
}
.left-menu .list-container .list-wrap li:hover .menu-01 {
  background-image: url(../img/ic_menu_hover_01.png);
}
.left-menu .list-container .list-wrap li:hover .menu-02 {
  background-image: url(../img/ic_menu_hover_02.png);
}
.left-menu .list-container .list-wrap li:hover .menu-03 {
  background-image: url(../img/ic_menu_hover_03.png);
}
.left-menu .list-container .list-wrap li:hover .menu-04 {
  background-image: url(../img/ic_menu_hover_04.png);
}
.left-menu .list-container .list-wrap li:hover .menu-05 {
  background-image: url(../img/ic_menu_hover_05.png);
}
.left-menu .list-container .list-wrap .list-img {
  width: 40px;
  height: 60px;
}
.left-menu .list-container .list-wrap .list-img.menu-01 {
  background-image: url(../img/ic_menu_01.png);
  background-repeat: no-repeat;
  background-position: center;
}
.left-menu .list-container .list-wrap .list-img.menu-02 {
  background-image: url(../img/ic_menu_02.png);
  background-repeat: no-repeat;
  background-position: center;
}
.left-menu .list-container .list-wrap .list-img.menu-03 {
  background-image: url(../img/ic_menu_03.png);
  background-repeat: no-repeat;
  background-position: center;
}
.left-menu .list-container .list-wrap .list-img.menu-04 {
  background-image: url(../img/ic_menu_04.png);
  background-repeat: no-repeat;
  background-position: center;
}
.left-menu .list-container .list-wrap .list-img.menu-05 {
  background-image: url(../img/ic_menu_05.png);
  background-repeat: no-repeat;
  background-position: center;
}

main {
  position: relative;
}

.top-data-wrap {
  padding: 19px 30px 21px;
  background-color: #F7F8FA;
}
.top-data-wrap.outsourcing .data-row .input-wrap:first-child {
  width: 340px;
}

.data-row {
  display: flex;
  margin-bottom: 12px;
}
.data-row:last-child {
  margin-bottom: 0;
}
.data-row .name {
  color: #000000;
  font-family: SCDream6;
  font-size: 14px;
}
.data-row .essential {
  color: #BA2126;
}
.data-row .input-wrap {
  font-size: 14px;
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 100px;
}
.data-row .input-wrap:first-child {
  width: 330px;
}
.data-row .input-wrap:last-child {
  margin-right: 0;
}
.data-row .input-wrap.wid-350 {
  width: 350px;
}
.data-row .input-wrap.wid-360 {
  width: 350px;
}
.data-row .input-wrap .date input {
  width: 120px;
  text-align: center;
}
.data-row .input-wrap .date span {
  line-height: 36px;
  margin: 0px 3px;
}
.data-row .input-wrap .txt input {
  width: 260px;
  padding: 0px 10px;
}
.data-row .read-only {
  width: 250px;
  height: 36px;
  border: 1px solid;
  text-align: left;
  padding: 9px 10px 8px;
  color: #B5B5B5;
  border-radius: 12px;
  line-height: 1;
}

.main-data-wrap {
  padding: 19px 20px 15px;
}
.main-data-wrap .btn-row {
  margin-bottom: 18px;
  text-align: left;
  font-size: 0;
  display: flex;
  justify-content: space-between;
}
.main-data-wrap .btn-row .btn-stlye-01 {
  margin-right: 10px;
}

.top-input-wrap {
  text-align: left;
  font-size: 0;
}
.top-input-wrap .btn-row {
  padding: 22px 0px 10px;
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  font-size: 0;
  border-bottom: 1px solid #CCCCCC;
}
.top-input-wrap .btn-row .btn-stlye-04 {
  margin-right: 10px;
}
.top-input-wrap .input-container {
  padding: 20px 30px 10px;
  display: flex;
}
.top-input-wrap .input-container .input-wrap {
  display: flex;
}
.top-input-wrap .input-container .input-wrap .left {
  width: 611px;
  margin-right: 50px;
}
.top-input-wrap .input-container .input-wrap .web {
  width: 290px;
  margin-right: 46px;
}
.top-input-wrap .input-container.outsourcing .input-wrap {
  align-items: center;
}
.top-input-wrap .input-container.outsourcing .left {
  width: 999px;
  margin-right: 0;
}
.top-input-wrap .input-container.outsourcing .condition.date .name {
  margin-right: 20px;
}
.top-input-wrap .input-container.outsourcing .sum-wrap {
  padding: 10px 30px;
}
.top-input-wrap .input-container .condition {
  display: inline-block;
}
.top-input-wrap .input-container .condition input {
  padding: 0 10px;
}
.top-input-wrap .input-container .condition .name {
  font-size: 14px;
  font-family: SCDream6;
  line-height: 36px;
}
.top-input-wrap .input-container .condition .name label {
  line-height: 36px;
}
.top-input-wrap .input-container .condition .won {
  font-size: 14px;
  font-family: SCDream6;
  line-height: 36px;
}
.top-input-wrap .input-container .condition .essential {
  color: #BA2126;
}
.top-input-wrap .input-container .condition.date {
  margin-right: 50px;
}
.top-input-wrap .input-container .condition.date .name {
  margin-right: 40px;
}
.top-input-wrap .input-container .condition.date input[type=text] {
  width: 120px;
}
.top-input-wrap .input-container .condition.num .name {
  margin-right: 26px;
}
.top-input-wrap .input-container .condition.num input[type=text] {
  width: 280px;
}
.top-input-wrap .input-container .condition.sub {
  margin-top: 12px;
}
.top-input-wrap .input-container .condition.sub .name {
  margin-right: 26px;
}
.top-input-wrap .input-container .condition.sub input[type=text] {
  width: 530px;
}
.top-input-wrap .input-container .condition.division .name {
  margin-right: 22px;
}
.top-input-wrap .input-container .condition.division select {
  width: 200px;
}
.top-input-wrap .input-container .condition.country {
  margin: 12px 20px 0 0;
}
.top-input-wrap .input-container .condition.country .name {
  margin-right: 20px;
}
.top-input-wrap .input-container .condition.country input[type=text] {
  width: 60px;
  text-align: center;
}
.top-input-wrap .input-container .condition.currency {
  margin-top: 12px;
}
.top-input-wrap .input-container .condition.currency .name {
  margin-right: 20px;
}
.top-input-wrap .input-container .condition.currency input[type=text] {
  width: 115px;
  text-align: right;
}
.top-input-wrap .input-container .condition.value-1 {
  margin-right: 31px;
}
.top-input-wrap .input-container .condition.value-1 input[type=text] {
  width: 140px;
  margin: 0 10px 0 19px;
  text-align: right;
}
.top-input-wrap .input-container .condition.value-2 {
  margin-right: 32px;
}
.top-input-wrap .input-container .condition.value-2 input[type=text] {
  width: 140px;
  margin: 0 10px 0 14px;
  text-align: right;
}
.top-input-wrap .input-container .condition.value-3 input[type=text] {
  width: 140px;
  margin: 0 10px 0 14px;
  text-align: right;
}
.top-input-wrap .input-container .sum-wrap {
  background-color: #E6E9F8;
  width: 100%;
  padding: 24px 0px 23px 30px;
}

.data-table {
  height: 657px;
  overflow: auto;
  border: 1px solid #5A669A;
}
.data-table table {
  width: 100%;
  border-collapse: separate;
  white-space: nowrap;
  border-spacing: 0;
  overflow: auto;
}
.data-table table thead {
  background-color: #5A669A;
  color: #FFFFFF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}
.data-table table td {
  vertical-align: middle;
  text-align: center;
  height: 38px;
  border-right: 1px solid #E6E9F8;
  border-bottom: 1px solid #E6E9F8;
  padding: 0px 4px;
  padding-top: 1px;
}
.data-table table td:last-child {
  border-right: none;
}
.data-table table .click {
  background-color: #E6E9F8;
}
.data-table table .late {
  background-color: #E6E9F8;
  color: #FF0008;
}
.data-table table .no-data {
  background-color: #FFECEC;
}
.data-table table .sum {
  background-color: #D0E2BA;
  color: black;
}
.data-table table .text-l {
  text-align: left;
}
.data-table table .text-r {
  text-align: right;
}

.main-data-container {
  padding: 0 30px 0px;
}
.main-data-container .btn-row {
  text-align: right;
}
.main-data-container .data-table {
  margin-top: 10px;
  height: 620px;
}

.bg-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6196078431);
  z-index: 999;
  display: none;
}
.bg-wrap .bad-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 705px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #EDEDED;
}
.bg-wrap .bad-container .title {
  padding: 21px 20px 14px;
  font-family: SCDream6;
  color: #0F1D6C;
  text-align: left;
  font-size: 18px;
  border-bottom: 1px solid #CCCCCC;
}
.bg-wrap .bad-container .bad-input-wrap {
  padding: 21px 0 20px;
}
.bg-wrap .bad-container .bad-input-wrap input[type=text] {
  width: 70px;
  text-align: right;
  padding: 0 10px;
}
.bg-wrap .bad-container .bad-input-wrap .btn-minus {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-image: url(../img/ic_minus.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #BA2126;
  margin: 5px 6px 0 0;
  cursor: pointer;
}
.bg-wrap .bad-container .bad-input-wrap .btn-plus {
  width: 24px;
  height: 24px;
  border-radius: 6px;
  background-image: url(../img/ic_pius.png);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #1F317B;
  margin: 5px 0 0 6px;
  cursor: pointer;
}
.bg-wrap .bad-container .bad-input-wrap ul {
  margin-bottom: 10px;
}
.bg-wrap .bad-container .bad-input-wrap ul:last-child {
  margin-bottom: 0;
}
.bg-wrap .bad-container .bad-input-wrap .top {
  padding: 0 30px;
}
.bg-wrap .bad-container .bad-input-wrap .top li {
  font-family: SCDream6;
  font-size: 14px;
  line-height: 1;
}
.bg-wrap .bad-container .bad-input-wrap .top .right {
  padding-left: 55px;
  text-align: left;
}
.bg-wrap .bad-container .bad-input-wrap .body {
  max-height: 469px;
  overflow-y: auto;
  padding: 0 30px;
}
.bg-wrap .bad-container .bad-input-wrap .left {
  width: calc(100% - 138px);
  text-align: left;
  font-size: 14px;
  line-height: 36px;
}
.bg-wrap .bad-container .bad-input-wrap .right {
  width: 138px;
  text-align: right;
  line-height: 36px;
}
.bg-wrap .bad-container .sum-wrap {
  background-color: #E6E9F8;
  padding: 0 38px 0 30px;
  margin-bottom: 20px;
}
.bg-wrap .bad-container .sum-wrap .title {
  font-family: SCDream6;
}
.bg-wrap .bad-container .sum-wrap li {
  font-size: 16px;
  line-height: 48px;
}
.bg-wrap .bad-container .sum-wrap .left {
  width: 161px;
  text-align: left;
}
.bg-wrap .bad-container .sum-wrap .right {
  width: calc(100% - 161px);
  text-align: right;
}
.bg-wrap .bad-container .sum-wrap .right .sum {
  margin-right: 20px;
  color: #BA2126;
}

.dashboard-toggle {
  padding: 10px 0;
}
.dashboard-toggle .toggle-panel {
  margin: 0 auto;
  width: 400px;
  height: 40px;
  background-color: #F7F8FA;
  border-radius: 20px;
  text-align: left;
  padding: 2px;
}
.dashboard-toggle .info-tab {
  font-size: 17px;
  font-family: SCDream5;
  line-height: 40px;
  width: 198px;
  text-align: center;
  color: #DDDDDD;
  cursor: pointer;
}
.dashboard-toggle .info-tab.click {
  background-color: #243DA2;
  border-radius: 18px;
  height: 36px;
  color: white;
}

.toggle-content {
  padding: 0 20px 20px 20px;
}

.info-container {
  background-color: white;
  border-radius: 10px;
}
.info-container.notice-wrap {
  width: 930px;
  height: 232px;
}
.info-container.notice-wrap .title {
  padding: 11px 20px 8px;
  border-bottom: 1px solid #D5E0EB;
  text-align: left;
  font-size: 15px;
  font-family: SCDream6;
  color: #0F1D6C;
}
.info-container.notice-wrap .notice {
  padding: 20px 30px 14px;
  height: 191px;
  overflow-y: auto;
}
.info-container.notice-wrap .notice table {
  width: 100%;
  table-layout: fixed;
}
.info-container.notice-wrap .notice table td {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 13px;
}
.info-container.notice-wrap .notice table td:nth-child(2) {
  padding-right: 72px;
}
.info-container.notice-wrap .notice table tbody tr td {
  line-height: 30px;
}
.info-container.notice-wrap .notice table tbody tr td:first-child {
  padding-left: 4px;
}
.info-container.notice-wrap .notice table tbody tr td:last-child {
  color: #878787;
}

.ui-datepicker {
  z-index: 1000 !important;
}

/* loading style */
.loading-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: #00000087;
  z-index: 3;
}
.loading-wrap .loading-container {
  width: 100%;
  /* height: 100%; */
  top: 35%;
  position: relative;
  color: #000000;
  font-size: 24px;
}
.loading-wrap img {
  width: 35vw;
  height: 35vh;
}

@media only screen and (min-width: 420px) and (max-width: 1900px) {
  body {
    min-width: 1900px;
  }
}
@media (max-width: 420px) {
  header {
    padding: 10px 33px 10px 20px;
  }
  header .btn-menu {
    margin-right: 0;
  }
  header .con:first-child {
    width: calc(100% - 30px);
  }
  header .con:first-child .page-name {
    width: calc(100% - 40px);
    margin-left: 0;
    text-align: center;
  }
  .page-name::before {
    display: none;
  }
  .web {
    display: none;
  }
  .mo {
    display: initial;
  }
  .top-data-wrap {
    padding: 20px 10px 20px 10px;
    position: relative;
    border-bottom: 1px solid #EDEDED;
  }
  .top-data-wrap .btn-hide {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 34px;
    height: 16px;
    background-image: url(../img/btn_hide.png);
  }
  .top-data-wrap.outsourcing .data-row .input-wrap:first-child {
    width: 100%;
  }
  .top-data-wrap.outsourcing .data-row .input-wrap:nth-child(4) {
    width: 100%;
  }
  .top-data-wrap.outsourcing .data-row .input-wrap:nth-child(4) .name label {
    letter-spacing: -1px;
  }
  .data-row {
    display: block;
  }
  .data-row .input-wrap {
    width: 100%;
    margin-bottom: 10px;
  }
  .data-row .input-wrap.wid-350 {
    width: 100%;
  }
  .data-row .input-wrap.wid-360 {
    width: 100%;
  }
  .data-row .input-wrap:first-child {
    width: 100%;
  }
  .data-row .input-wrap:last-child {
    margin-bottom: 0;
  }
  .main-data-wrap {
    padding: 30px 10px 15px;
  }
  .main-data-wrap .btn-row {
    padding: 0;
    margin-bottom: 10px;
  }
  .main-data-wrap .btn-row .btn-stlye-01 {
    width: 50px;
    margin-right: 20px;
  }
  .main-data-wrap .data-table {
    height: 508px;
  }
  .top-input-wrap .btn-row {
    margin: 0 10px;
  }
  .top-input-wrap .btn-row .btn-stlye-04, .top-input-wrap .btn-row .btn-stlye-05 {
    width: 50px;
  }
  .top-input-wrap .input-container {
    display: block;
    padding: 10px;
  }
  .top-input-wrap .input-container .sum-wrap .name {
    width: 121px;
  }
  .top-input-wrap .input-container .sum-wrap .won {
    width: 23px;
    text-align: right;
  }
  .top-input-wrap .input-container .sum-wrap .txt {
    width: calc(100% - 121px);
  }
  .top-input-wrap .input-container.outsourcing .condition.date .name {
    margin-right: 0;
    width: 141px;
  }
  .top-input-wrap .input-container.outsourcing .sum-wrap {
    padding: 16px 20px 17px;
  }
  .top-input-wrap .input-container .condition {
    display: block;
  }
  .top-input-wrap .input-container .condition.date {
    margin-bottom: 10px;
  }
  .top-input-wrap .input-container .condition.num .text {
    width: calc(100% - 80px);
  }
  .top-input-wrap .input-container .condition.num input[type=text] {
    width: 100%;
  }
  .top-input-wrap .input-container .condition.sub {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .top-input-wrap .input-container .condition.sub .text {
    width: calc(100% - 80px);
  }
  .top-input-wrap .input-container .condition.sub input[type=text] {
    width: 100%;
    height: 140px;
  }
  .top-input-wrap .input-container .condition.value-1 {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .top-input-wrap .input-container .condition.value-1 input[type=text] {
    margin: 0;
    width: calc(100% - 23px);
  }
  .top-input-wrap .input-container .condition.value-2 {
    margin-right: 0;
    margin-bottom: 12px;
  }
  .top-input-wrap .input-container .condition.value-2 input[type=text] {
    margin: 0;
    width: calc(100% - 23px);
  }
  .top-input-wrap .input-container .condition.value-3 input[type=text] {
    margin: 0;
    width: calc(100% - 23px);
  }
  .top-input-wrap .input-container .input-wrap .left {
    margin-right: 0;
  }
  .top-input-wrap .input-container .sum-wrap {
    padding: 16px 20px 17px;
  }
  .main-data-container {
    padding: 0 10px 20px;
  }
  .main-data-container .data-table {
    height: 545px;
  }
}
