<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>코드도움</title>
	<link rel="stylesheet" href="css/setup.css">
	<link rel="stylesheet" href="css/scm_style.css">
	<link rel="stylesheet" href="css/date_picker.css">
	<link rel="stylesheet" href="css/toastr.css">
	<!-- tui-grid -->
	<link rel="stylesheet" href="css/tui-date-picker.css">
	<link rel="stylesheet" href="css/tui-grid.css">
	<style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body style="min-width: auto;">
	<div v-cloak id="app">
		<main>
            <div style="display: flex; justify-content: space-between; margin: 5px 15px;">
                <h1>포장단위입출고입력</h1>
                <button class="btn-stlye-06" onclick="window.close();">닫기</button>
            </div>

            <div class="top-data-wrap">
                <div class="data-row-wrap">
                    <div class="data-row">
                        <ul class="input-wrap" style="margin-right: 20px; justify-content: flex-start;">
                            <li class="name" style="width: 80px;">
                                <label>일자</label>
                            </li>
                            <li class="txt">
                                <input type="text" style="width: 200px;" v-model="queryRow.DelvDate" readonly>
                            </li>
                        </ul>
                        <ul class="input-wrap" style="margin-right: 20px; justify-content: flex-start;">
                            <li class="name" style="width: 100px;">
                                <label>입출고유형</label>
                            </li>
                            <li class="txt">
                                <input type="text" style="width: 220px;" value="외주납품" readonly>
                            </li>
                        </ul>
                        <ul class="input-wrap" style="justify-content: flex-start;">
                            <li class="name" style="width: 80px;">
                                <label>창고</label>
                            </li>
                            <li class="txt">
                                <input type="text" style="width: 220px;" v-model="queryRow.InWHName" readonly>
                            </li>
                        </ul>
                    </div>
                    <div class="data-row">
                        <ul class="input-wrap" style="margin-right: 20px; justify-content: flex-start;">
                            <li class="name" style="width: 80px;">
                                <label>품번</label>
                            </li>
                            <li class="txt">
                                <input type="text" style="width: 220px;" v-model="queryRow.GoodItemNo" readonly>
                            </li>
                        </ul>
                        <ul class="input-wrap" style="margin-right: 20px; justify-content: flex-start;">
                            <li class="name" style="width: 80px;">
                                <label>품명</label>
                            </li>
                            <li class="txt">
                                <input type="text" style="width: 220px;" v-model="queryRow.GoodItemName" readonly>
                            </li>
                        </ul>
                        <ul class="input-wrap" style="justify-content: flex-start; visibility: hidden;">
                            <li class="name" style="width: 80px;">
                                <label>합계수량</label>
                            </li>
                            <li class="txt">
                                <input type="text" style="width: 100px; text-align: right; font-weight: bold; color: black;" v-model="queryRow.MasterQty" readonly>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="main-data-wrap">
                <div class="btn-row">
                    <div>
                        <button class="btn-stlye-01" @click="search()">
                            <img src="img/ic_04.png" alt="조회버튼이미지">
                            <span class="web">조회</span>
                        </button>
                        <button class="btn-stlye-01" style="margin-right: 10px;" @click="gridAppendRow('mainGrid')">
                            <img src="img/ic_pius_white.png" alt="행추가버튼이미지" style="margin-left: 4px;">
                            <span class="web">행 추가</span>
                        </button>
                        <button class="btn-stlye-05" style="margin-right: 10px;" @click="del">
                            <img src="img/ic_02.png" alt="삭제버튼이미지">
                            <span class="web">삭제</span>
                        </button>
                        <button class="btn-stlye-05" @click="delRow">
                            <img src="img/ic_minus_white.png" alt="행삭제버튼이미지" style="margin-left: 4px;">
                            <span>행 삭제</span>
                        </button>
                    </div>
            
                    <button class="btn-stlye-03" @click="save">
                        <img src="img/ic_06.png" alt="저장버튼이미지">
                        <span>저장</span>
                    </button>
                </div>

                <div class="data-table dialog" id="mainGrid"></div>
            </div>
		</main>
	</div>

	<script src="js/common/app.js?v=1665537373142"></script>
</body>

</html>