<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>main</title>
	<link rel="stylesheet" href="css/setup.css">
	<link rel="stylesheet" href="css/scm_style.css">
	<link rel="stylesheet" href="css/date_picker.css">
	<style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body class="main">
	<div v-cloak id="app">
		<header>		
			<div class="con">
				<button class="btn-menu" onclick="GX._METHODS_.clickLeftMenu()"></button>
				<a href="javascript:void(0)" onclick="location.replace('main.html')" class="web">
					<img src="img/logo.png" alt="로고이미지">
				</a>
			</div>
			<div class="con">
				<!-- <div class="cart">
					<img src="img/ic_01.png" alt="알림이미지">
					<span class="alarm">12</span>
				</div> -->
				<div class="user-info" @click="userInfoClick()">
					<div class="frame">
						<img src="img/user.png" alt="유저이미지">
					</div>
					<p class="user-name web" v-if="deptName !== ''">{{userName}}</p>
					<p class="user-name web" v-else>{{deptName}} {{userName}}</p>
					<div class="akfvndtjs">
						<a>test</a>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="left-menu" v-html="leftMenu"></div>
			<div class="main-container">
				<div class="dashboard-toggle">
					<ul class="toggle-panel">
						<li class="info-tab click" data-tab="info-1">구매</li>
						<li class="info-tab" data-tab="info-2">외주가공</li>
					</ul>
				</div>
				<!-- 구매 -->
				<div id="info-1" class="toggle-content click">
					<div class="container-wrap">
						<div class="left">
							<div class="notice-wrap">
								<div class="title">
									공지사항			
								</div>
								<div class="notice" id="noticeGrid1"></div>
							</div>
		
							<div class="info-container">
								<div class="order-wrap">
									<div class="order">
										<div class="title">발주</div>
										<ul class="top">
											<li class="box">
												<div class="name">이월</div>
												<div class="sub">
													<p>{{rows.PODelvQuery.POTotBfQty}}<span class="unit">수량</span></p>
													<p>{{rows.PODelvQuery.POTotBfDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">당일</div>
												<div class="sub">
													<p>{{rows.PODelvQuery.POTotDayQty}}<span class="unit">수량</span></p>
													<p>{{rows.PODelvQuery.POTotDayQty}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">누계</div>
												<div class="sub">
													<p>{{rows.PODelvQuery.POTotQty}}<span class="unit">수량</span></p>
													<p>{{rows.PODelvQuery.POTotDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
										</ul>
										<ul class="bottom">
											<li class="box">
												<div class="name">발주잔량</div>
												<div class="sub">
													<p>{{rows.PODelvQuery.POLessQty}}<span class="unit">수량</span></p>
													<p>{{rows.PODelvQuery.POLessDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
										</ul>
									</div>
									<div class="delivery">
										<div class="title">납품</div>
										<ul class="top">
											<li class="box">
												<div class="name">이월</div>
												<div class="sub">
													<p>{{rows.PODelvQuery.DelvTotBfQty}}<span class="unit">수량</span></p>
													<p>{{rows.PODelvQuery.DelvTotBfDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">당일</div>
												<div class="sub">
													<p>{{rows.PODelvQuery.DelvTotDayQty}}<span class="unit">수량</span></p>
													<p>{{rows.PODelvQuery.DelvTotDayDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">누계</div>
												<div class="sub">
													<p>{{rows.PODelvQuery.DelvTotQty}}<span class="unit">수량</span></p>
													<p>{{rows.PODelvQuery.DelvTotDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
										</ul>
										<ul class="bottom">
											<li class="box">
												<div class="name">납품율</div>
												<div class="sub">
													<p class="num">{{rows.PODelvQuery.PODelvRate}}<span class="per">%</span></p>
												</div>
											</li>
										</ul>
									</div>
								</div>

								<div class="order-list">
									<div class="title">발주 품목 현황</div>
									<div class="order-table" id="poItemGrid"></div>
								</div>
							</div>
						</div>

						<div class="right">
							<div class="container">
								<div class="year-wrap">
									<div class="select-wrap">
										<div class="select">
											<input type="text" class="drop-box-input" v-model="queryForm.DateYear" @click="openCloseDropBox" readonly>
											<ul class="drop-box">
												<li v-for="item in YearList" @click="openCloseDropBox(search)">{{item}}</li>
											</ul>
										</div>
										<span class="year">년</span>
									</div>
									<div><span class="unit">(금액단위:천원)</span></div>
								</div>
								<div class="current-wrap top">
									<span class="title">월별 현황</span>
									<div class="month-table" id="poDelvMonthGrid"></div>
								</div>
								<div class="current-wrap">
									<div class="current-01">
										<span class="title web">월별 발주금액 / 납품금액</span>
										<canvas id="PODelvChart1" style="width: 100%; height: 100%;"></canvas>
									</div>
								</div>
								<div class="current-wrap">
									<div class="current-01">
										<span class="title web">월별 납품율(%) / 불량율(%)</span>
										<canvas id="PODelvChart2" style="width: 100%; height: 100%;"></canvas>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>

				<!-- 외주가공 -->
				<div id="info-2" class="toggle-content">
					<div class="container-wrap">
						<div class="left">
							<div class="notice-wrap">
								<div class="title">
									공지사항			
								</div>
								<div class="notice" id="noticeGrid2"></div>
							</div>
		
							<div class="info-container">
								<div class="order-wrap">
									<div class="order">
										<div class="title">지시</div>
										<ul class="top">
											<li class="box">
												<div class="name">이월</div>
												<div class="sub">
													<p>{{rows.OrdRptQuery.OrdTotBfQty}}<span class="unit">수량</span></p>
													<p>{{rows.OrdRptQuery.OrdTotBfDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">당일</div>
												<div class="sub">
													<p>{{rows.OrdRptQuery.OrdTotDayQty}}<span class="unit">수량</span></p>
													<p>{{rows.OrdRptQuery.OrdTotDayQty}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">누계</div>
												<div class="sub">
													<p>{{rows.OrdRptQuery.OrdTotQty}}<span class="unit">수량</span></p>
													<p>{{rows.OrdRptQuery.OrdTotDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
										</ul>
										<ul class="bottom">
											<li class="box">
												<div class="name">지시잔량</div>
												<div class="sub">
													<p>{{rows.OrdRptQuery.OrdLessQty}}<span class="unit">수량</span></p>
													<p>{{rows.OrdRptQuery.OrdLessDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">작업납품율</div>
												<div class="sub">
													<p class="num">{{rows.OrdRptQuery.OrdOkRate}}<span class="per">%</span></p>
												</div>
											</li>
										</ul>									
									</div>
									<div class="delivery">
										<div class="title">실적</div>
										<ul class="top">
											<li class="box">
												<div class="name">이월</div>
												<div class="sub">
													<p>{{rows.OrdRptQuery.RptTotBfQty}}<span class="unit">수량</span></p>
													<p>{{rows.OrdRptQuery.RptTotBfDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">당일</div>
												<div class="sub">
													<p>{{rows.OrdRptQuery.RptTotDayQty}}<span class="unit">수량</span></p>
													<p>{{rows.OrdRptQuery.RptTotDayQty}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">누계</div>
												<div class="sub">
													<p>{{rows.OrdRptQuery.RptTotQty}}<span class="unit">수량</span></p>
													<p>{{rows.OrdRptQuery.RptTotDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
										</ul>
										<ul class="bottom">
											<li class="box">
												<div class="name">불량현황</div>
												<div class="sub">
													<p>{{rows.OrdRptQuery.RptBadQty}}<span class="unit">수량</span></p>
													<p>{{rows.OrdRptQuery.RptBadDomAmt}}<span class="won">천원</span></p>
												</div>
											</li>
											<li class="box">
												<div class="name">불량율</div>
												<div class="sub">
													<p class="num">{{rows.OrdRptQuery.RptBadRate}}<span class="per">%</span></p>
												</div>
											</li>
										</ul>
										
									</div>
								</div>

								<div class="order-list">
									<div class="title">지시 품목 현황</div>
									<div class="order-table" id="ordItemGrid"></div>
								</div>
							</div>
						</div>

						<div class="right">
							<div class="container">
								<div class="year-wrap">
									<div class="select-wrap">
										<div class="select">
											<input type="text" class="drop-box-input" v-model="queryForm.DateYear" @click="openCloseDropBox" readonly>
											<ul class="drop-box">
												<li v-for="item in YearList" @click="openCloseDropBox(search)">{{item}}</li>
											</ul>
										</div>
										<span class="year">년</span>
									</div>
									<div><span class="unit">(금액단위:천원)</span></div>
								</div>
								<div class="current-wrap top">
									<span class="title">월별 현황</span>
									<div class="month-table" id="ordRptMonthGrid"></div>
								</div>
								<div class="current-wrap">
									<div class="current-01">
										<span class="title web">월별 작업지시금액 / 작업실적금액</span>
										<canvas id="OrdRptChart1" style="width: 100%; height: 100%;"></canvas>
									</div>
								</div>
								<div class="current-wrap">
									<div class="current-01">
										<span class="title web">월별 납품율(%) / 불량율(%)</span>
										<canvas id="OrdRptChart2" style="width: 100%; height: 100%;"></canvas>
									</div>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>

			<div id="fakeDialog" class="fake-dialog-wrap" style="display: none;" @click="closeFakeDialog">
				<div class="fake-dialog-container">
					<div class="fake-dialog-title" style="border-bottom: 1px solid #D5E0EB; font-size: 24px; padding: 1%; overflow: auto;"></div>
					<div class="fake-dialog-content" style="padding: 1% 10%;"></div>
				</div>
			</div>
		</main>
	</div>

	<script src="js/common/app.js?v=1665537373142"></script>
</body>

</html>