<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>외주납품입력</title>
	<link rel="stylesheet" href="css/setup.css">
	<link rel="stylesheet" href="css/scm_style.css">
	<link rel="stylesheet" href="css/date_picker.css">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div v-cloak id="app">
		<header>
			<div class="con">
				<button class="btn-menu" onclick="GX._METHODS_.clickLeftMenu()"></button>
				<a href="javascript:void(0)" onclick="location.replace('main.html')" class="web">
					<img src="img/logo.png" alt="로고이미지">
				</a>
				<span class="page-name">외주납품입력</span>
			</div>
			<div class="con">
				<div class="cart">
					<img src="img/ic_01.png" alt="알림이미지">
					<span class="alarm">12</span>
				</div>
				<div class="user-info web" @click="userInfoClick()">
					<div class="frame">
						<img src="img/user.png" alt="유저이미지">
					</div>
					<p class="user-name" v-if="deptName !== ''">{{userName}}</p>
					<p class="user-name" v-else>{{deptName}} {{userName}}</p>
				</div>
			</div>
		</header>
		<main>
			<div class="left-menu" v-html="leftMenu"></div>
			<div class="top-input-wrap">

				<div class="btn-row">
					<div>
						<button class="btn-stlye-05" @Click="del">
							<img src="img/ic_02.png" alt="삭제버튼이미지">
							<span class="web">삭제</span>
						</button>
					</div>

					<button class="btn-stlye-03" @Click="save">
						<img src="img/ic_06.png" alt="저장버튼이미지">
						<span>저장</span>
					</button>
				</div>

				<div class="input-container">
					<div class="input-wrap">
						<div class="left">
							<ul class="condition date">
								<li class="name essential">
									<label>외주작업일(납품일)</label>
								</li>
								<li>
									<input type="text" class="datepicker" name="DelvDate" v-model.trim="queryForm.DelvDate" gx-datepicker="queryForm.DelvDate" @chagne="updateDate">
								</li>
							</ul>
						</div>
					</div>
					<div class="sum-wrap">
						<ul class="condition value-1">
							<li class="name">금액계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumOSPCurAmt" readonly>
								<span class="won">원</span>
							</li>
						</ul>

						<ul class="condition value-2">
							<li class="name">+ 부가세계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumOSPCurVAT" readonly>
								<span class="won">원</span>
							</li>
						</ul>

						<ul class="condition value-3">
							<li class="name">= 금액총계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumOSPTotCurAmt" readonly>
								<span class="won">원</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="main-data-container">
				<div class="btn-row">
					<button class="btn-stlye-06" @click="delRow">행 삭제하기</button>
				</div>
				<div class="data-table" id="grid"></div>
				<!--
				<div class="data-table">
					<table>
						<thead>
							<tr>
								<td>No.</td>
								<td><input type="checkbox"></td>
								<td>작업지시번호</td>
								<td>품번</td>
								<td>품명</td>
								<td>규격</td>
								<td>공정</td>
								<td>사이즈</td>
								<td>단위</td>
								<td>작업지시수량</td>
								<td>기생산수량</td>
								<td>생산수량</td>
								<td>양품수량</td>
								<td>불량수량</td>
								<td>입고창고</td>
								<td>특이사항</td>
								<td>완료여부 <input type="checkbox"></td>
								<td>단가</td>
								<td>부가세포함</td>
								<td>금액</td>
								<td>부가세</td>
								<td>금액계</td>
								<td>통화</td>
								<td>환율</td>
								<td>원화단가</td>
								<td>원화부가세</td>
								<td>원화금액</td>
								<td>원화금액계</td>
								<td>공정품번호</td>
								<td>공정품명</td>
								<td>공정품규격</td>
								<td>생산계획번호</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>1</td>
								<td><input type="checkbox"></td>
								<td>0123456789</td>
								<td class="text-l">2260132</td>
								<td class="text-l">W/100 1/6</td>
								<td class="text-l">YB106W</td>
								<td class="text-l">공정01</td>
								<td class="text-l">사이즈</td>
								<td>KG</td>
								<td class="text-r">100</td>
								<td class="text-r">100</td>
								<td class="no-data"></td>
								<td class="no-data"></td>
								<td class="no-data"></td>
								<td>아바몰리 자재창고</td>
								<td class="no-data"></td>
								<td><input type="checkbox"></td>
								<td class="text-r">100.00</td>
								<td><input type="checkbox" disabled></td>
								<td class="text-r">90,000.00</td>
								<td class="text-r">10,000.00</td>
								<td class="text-r">100,000.00</td>
								<td>KRW</td>
								<td class="text-r">1.00</td>
								<td class="text-r" >10,000.00</td>
								<td class="text-r">100,000.000</td>
								<td class="text-r">90,000.00</td>
								<td class="text-r">100,000.00</td>
								<td>P22WURCP002</td>
								<td>바지</td>
								<td class="text-l">ROHMCP52A</td>
								<td>202209150015</td>
							</tr>
							<tr class="click">
								<td>2</td>
								<td><input type="checkbox"></td>
								<td>0123456789</td>
								<td class="text-l">2260132</td>
								<td class="text-l">W/100 1/6</td>
								<td class="text-l">YB106W</td>
								<td class="text-l">공정01</td>
								<td class="text-l">사이즈</td>
								<td>KG</td>
								<td class="text-r">100</td>
								<td class="text-r">100</td>
								<td class="no-data"></td>
								<td class="no-data"></td>
								<td class="no-data"></td>
								<td>아바몰리 자재창고</td>
								<td class="no-data"></td>
								<td><input type="checkbox"></td>
								<td class="text-r">100.00</td>
								<td><input type="checkbox" disabled></td>
								<td class="text-r">90,000.00</td>
								<td class="text-r">10,000.00</td>
								<td class="text-r">100,000.00</td>
								<td>KRW</td>
								<td class="text-r">1.00</td>
								<td class="text-r" >10,000.00</td>
								<td class="text-r">100,000.000</td>
								<td class="text-r">90,000.00</td>
								<td class="text-r">100,000.00</td>
								<td>P22WURCP002</td>
								<td>바지</td>
								<td class="text-l">ROHMCP52A</td>
								<td>202209150015</td>
							</tr>
						</tbody>
					</table>
				</div>
				-->
			</div>
		</main>
	</div>

	<div class="bg-wrap">
		<div class="bad-container">
			<div class="title">[품번] 불량 입력</div>
			<div class="bad-input-wrap">
				<ul class="top">
					<li class="left">불량유형</li>
					<li class="right">수량</li>
				</ul>
				<div class="body">
					<ul>
						<li class="left">불량유형1</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형2</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형3</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형4</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형5</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형6</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형7</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형8</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형9</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형10</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="sum-wrap">
				<ul>
					<li class="left">불량 총 합계</li>
					<li class="right"><span class="sum">4</span>개</li>
				</ul>
			</div>
			<div class="btn-row">
				<button class="btn-stlye-07">닫기</button>
				<button class="btn-stlye-08">입력완료</button>
			</div>
		</div>
	</div>

	<script src="js/common/app.js?v=1665537373142"></script>
</body>
</html>