<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>외주납품품목조회</title>
	<link rel="stylesheet" href="css/setup.css">
	<link rel="stylesheet" href="css/scm_style.css">
	<link rel="stylesheet" href="css/date_picker.css">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="app">
		<header>
			<div class="con">
				<button class="btn-menu" onclick="GX._METHODS_.clickLeftMenu()"></button>
				<a href="javascript:void(0)" onclick="location.replace('main.html')" class="web">
					<img src="img/logo.png" alt="로고이미지">
				</a>
				<span class="page-name" onclick="location.replace('main.html')">외주납품품목조회</span>
			</div>
			<div class="con">
				<!-- <div class="cart">
					<img src="img/ic_01.png" alt="알림이미지">
					<span class="alarm">12</span>
				</div> -->
				<div class="user-info" @click="userInfoClick()">
					<div class="frame">
						<img src="img/user.png" alt="유저이미지">
					</div>
					<p class="user-name web" v-if="deptName !== ''">{{userName}}</p>
					<p class="user-name web" v-else>{{deptName}} {{userName}}</p>
				</div>
			</div>
		</header>
		<main>
			<div class="left-menu" v-html="leftMenu"></div>
			<div class="top-data-wrap">
				<div class="data-row-wrap">
					<div class="data-row">
						<ul class="input-wrap">
							<li class="name essential">
								<label>납품일</label>
							</li>
							<li class="date">
								<input type="text" name="WorkDateFr" class="datepicker" v-model.trim="queryForm.WorkDateFr" gx-datepicker="queryForm.WorkDateFr" @change="updateDate">
								<span>-</span>
								<input type="text" name="WorkDateTo" class="datepicker" v-model.trim="queryForm.WorkDateTo" gx-datepicker="queryForm.WorkDateTo" @change="updateDate">
							</li>
						</ul>

						<ul class="input-wrap wid-360">
							<li class="name">
								<label>의뢰부서</label>
							</li>
							<li class="txt">
								<div class="select">
									<input type="text" class="drop-box-input" name="DeptName" v-model="queryForm.DeptName" @click="openCloseDropBox('DeptName')" @input="likeSelect2('Dept')">
									<ul class="drop-box">
										<li v-for="item in DeptNameList" @click="openCloseDropBox('DeptName')" :value="item.key">{{item.val}}</li>
									</ul>
								</div>
							</li>
						</ul>

						<ul class="input-wrap wid-350">
							<li class="name">
								<label>공정</label>
							</li>
							<li class="txt">
								<div class="select">
									<input type="text" class="drop-box-input" style="background-color: #80808047;" name="ProcessName" v-model="queryForm.ProcessName" @click="openCloseDropBox('ProcessName', 'N')" @input="likeSelect2('Process')" readonly>
									<ul class="drop-box">
										<li v-for="item in ProcessNameList" @click="openCloseDropBox('ProcessName')" :value="item.key">{{item.val}}</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="data-row">
						<ul class="input-wrap">
							<li class="name">
								<label>품명</label>
							</li>
							<li class="txt">
								<input type="text" name="GoodItemName" v-model="queryForm.GoodItemName">
							</li>
						</ul>
						<ul class="input-wrap wid-360">
							<li class="name">
								<label>품번</label>
							</li>
							<li class="txt">
								<input type="text" name="GoodItemNo" v-model="queryForm.GoodItemNo">
							</li>
						</ul>
						<ul class="input-wrap wid-350">
							<li class="name">
								<label>Buyer No</label>
							</li>
							<li class="txt">
								<input type="text" name="BuyerNo" v-model="queryForm.BuyerNo">
							</li>
						</ul>
					</div>
				</div>
				<button class="btn-hide mo" onclick="GX._METHODS_.hide()"></button>
			</div>
			<div class="main-data-wrap">
				<div class="btn-row">
					<button class="btn-stlye-01" @Click="search(addSummary)">
						<img src="img/ic_04.png" alt="조회버튼이미지">
						<span class="web">조회</span>
					</button>
				</div>
				<div class="data-table" id="grid"></div>
			</div>
		</main>
	</div>
	<script src="js/common/app.js?v=1665537373142"></script>
</body>
</html>