<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>외주납품입력</title>
	<link rel="stylesheet" href="css/setup.css">
	<link rel="stylesheet" href="css/scm_style.css">
	<link rel="stylesheet" href="css/date_picker.css">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div v-cloak id="app">
		<header>
			<div class="con">
				<button class="btn-menu" onclick="GX._METHODS_.clickLeftMenu()"></button>
				<a href="javascript:void(0)" onclick="location.replace('main.html')" class="web">
					<img src="img/logo.png" alt="로고이미지">
				</a>
				<span class="page-name" onclick="location.replace('main.html')">외주납품입력</span>
			</div>
			<div class="con">
				<!-- <div class="cart">
					<img src="img/ic_01.png" alt="알림이미지">
					<span class="alarm">12</span>
				</div> -->
				<div class="user-info">
					<div class="frame" onclick="GX._METHODS_.userLayerShowHide()">
						<img src="img/user.png" alt="유저이미지">
					</div>
					<p class="user-name web" v-if="deptName !== ''">{{userName}}</p>
					<p class="user-name web" v-else>{{deptName}} {{userName}}</p>
					<div class="user-layer invisible">
						<button onclick="GX._METHODS_.changePwDialogShow()">비밀번호 변경</button>
						<button onclick="GX._METHODS_.logout()">로그아웃</button>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="left-menu" v-html="leftMenu"></div>
			<div class="top-input-wrap">

				<div class="btn-row">
					<div>
						<button class="btn-stlye-05" @Click="del">
							<img src="img/ic_02.png" alt="삭제버튼이미지">
							<span class="web">삭제</span>
						</button>
					</div>

					<button class="btn-stlye-03" @Click="save">
						<img src="img/ic_06.png" alt="저장버튼이미지">
						<span>저장</span>
					</button>
				</div>

				<div class="input-container">
					<div class="input-wrap">
						<div class="left">
							<ul class="condition date">
								<li class="name essential">
									<label>외주작업일(납품일)</label>
								</li>
								<li>
									<input type="text" class="datepicker" name="DelvDate" v-model.trim="queryForm.DelvDate" gx-datepicker="queryForm.DelvDate" @chagne="updateDate">
								</li>
							</ul>
						</div>
					</div>
					<div class="sum-wrap">
						<ul class="condition value-1">
							<li class="name">금액계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumOSPCurAmt" readonly>
								<span class="won">원</span>
							</li>
						</ul>

						<ul class="condition value-2">
							<li class="name">+ 부가세계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumOSPCurVAT" readonly>
								<span class="won">원</span>
							</li>
						</ul>

						<ul class="condition value-3">
							<li class="name">= 금액총계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumOSPTotCurAmt" readonly>
								<span class="won">원</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="main-data-container">
				<div class="btn-row">
					<button class="btn-stlye-06" @click="delRow">행 삭제하기</button>
				</div>
				<div class="data-table" id="grid"></div>
			</div>

			<div id="changePwDialog" class="change-pw-dialog-wrap" style="display: none;">
				<div class="change-pw-dialog-container">
					<div class="change-pw-dialog-title">비밀번호 변경</div>
					<div class="change-pw-dialog-content">
						<ul>
							<li>
								<label>기존 비밀번호</label>
								<input type="text" id="nowPw" onkeyup="GX._METHODS_.pwChk()">
								<p style="color: white;" id="pNowPw">-</p>
							</li>
							<li>
								<label>신규 비밀번호</label>
								<input type="password" id="newPw" onkeyup="GX._METHODS_.pwChk()">
								<!-- <p style="color: white;" id="pNewPw">-</p> -->
							</li>
							<li>
								<label>비밀번호 확인</label>
								<input type="password" id="newPwChk" onkeyup="GX._METHODS_.pwChk()">
								<p style="color: white;" id="pNewPwChk">-</p>
							</li>
						</ul>
					</div>
					<div class="change-pw-dialog-footer">
						<button onclick="GX._METHODS_.saveChangePw()">저장</button>
						<button onclick="GX._METHODS_.changePwDialogHide()">닫기</button>
					</div>
				</div>
			</div>
		</main>
	</div>

	<div class="bg-wrap">
		<div class="bad-container">
			<div class="title">[품번] 불량 입력</div>
			<div class="bad-input-wrap">
				<ul class="top">
					<li class="left">불량유형</li>
					<li class="right">수량</li>
				</ul>
				<div class="body">
					<ul>
						<li class="left">불량유형1</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형2</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형3</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형4</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형5</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형6</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형7</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형8</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형9</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
					<ul>
						<li class="left">불량유형10</li>
						<li class="right">
							<span class="btn-minus"></span>
							<input type="text">
							<span class="btn-plus"></span>
						</li>
					</ul>
				</div>
			</div>
			<div class="sum-wrap">
				<ul>
					<li class="left">불량 총 합계</li>
					<li class="right"><span class="sum">4</span>개</li>
				</ul>
			</div>
			<div class="btn-row">
				<button class="btn-stlye-07">닫기</button>
				<button class="btn-stlye-08">입력완료</button>
			</div>
		</div>
	</div>

	<script src="js/common/app.js?v=1665537373142"></script>
</body>
</html>