<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>외주납품품목조회</title>
	<link rel="stylesheet" href="css/setup.css">
	<link rel="stylesheet" href="css/scm_style.css">
	<link rel="stylesheet" href="css/date_picker.css">
	<link rel="stylesheet" href="css/toastr.css">
	<!-- tui-grid -->
	<link rel="stylesheet" href="css/tui-date-picker.css">
	<link rel="stylesheet" href="css/tui-grid.css">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="app">
		<header>
			<div class="con">
				<button class="btn-menu" onclick="GX._METHODS_.clickLeftMenu()"></button>
				<a href="javascript:void(0)" onclick="location.replace('main.html')" class="web">
					<img src="img/logo.png" alt="로고이미지">
				</a>
				<span class="page-name" onclick="location.replace('main.html')">외주납품품목조회</span>
			</div>
			<div class="con">
				<!-- <div class="cart">
					<img src="img/ic_01.png" alt="알림이미지">
					<span class="alarm">12</span>
				</div> -->
				<div class="user-info">
					<div class="frame" onclick="GX._METHODS_.userLayerShowHide()">
						<img src="img/user.png" alt="유저이미지">
					</div>
					<p class="user-name web" v-if="deptName !== ''">{{userName}}</p>
					<p class="user-name web" v-else>{{deptName}} {{userName}}</p>
					<div class="user-layer invisible">
						<button onclick="GX._METHODS_.changePwDialogShow()">비밀번호 변경</button>
						<button onclick="GX._METHODS_.logout()">로그아웃</button>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="left-menu" v-html="leftMenu"></div>
			<div class="top-data-wrap">
				<div class="data-row-wrap">
					<div class="data-row">
						<ul class="input-wrap">
							<li class="name essential">
								<label>납품일</label>
							</li>
							<li class="date">
								<div class="tui-datepicker-input tui-datetime-input-custom-short tui-has-focus">
									<input type="text" id="WorkDateFr-startpicker-input" aria-label="Date" style="font-size: 14px;">
									<div class="tui-datepicker-mo-container-position" id="WorkDateFr-startpicker-container" style="margin-left: -1px;"></div>
								</div>
								<div class="tui-datepicker-input tui-datetime-input-custom-short tui-has-focus">
									<input id="WorkDateTo-endpicker-input" type="text" aria-label="Date" style="font-size: 14px;">
									<div class="tui-datepicker-mo-container-position" id="WorkDateTo-endpicker-container" style="margin-left: -1px;"></div>
								</div>
							</li>
						</ul>

						<ul class="input-wrap wid-360">
							<li class="name">
								<label>의뢰부서</label>
							</li>
							<li class="txt">
								<div class="select">
									<input type="text" class="drop-box-input" name="DeptName" v-model="queryForm.DeptName" @click="openCloseDropBox('DeptName')" @input="likeSelect2('Dept')">
									<ul class="drop-box">
										<li v-for="item in DeptNameList" @click="openCloseDropBox('DeptName')" :value="item.key">{{item.val}}</li>
									</ul>
								</div>
							</li>
						</ul>

						<ul class="input-wrap wid-350">
							<li class="name">
								<label>공정</label>
							</li>
							<li class="txt">
								<div class="select">
									<input type="text" class="drop-box-input" name="ProcessName" v-model="queryForm.ProcessName" @click="openCloseDropBox('ProcessName')" @input="likeSelect2('Process')">
									<ul class="drop-box">
										<li v-for="item in ProcessNameList" @click="openCloseDropBox('ProcessName')" :value="item.key">{{item.val}}</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
					<div class="data-row">
						<ul class="input-wrap">
							<li class="name">
								<label>품명</label>
							</li>
							<li class="txt">
								<input type="text" name="GoodItemName" v-model="queryForm.GoodItemName">
							</li>
						</ul>
						<ul class="input-wrap wid-360">
							<li class="name">
								<label>품번</label>
							</li>
							<li class="txt">
								<input type="text" name="GoodItemNo" v-model="queryForm.GoodItemNo">
							</li>
						</ul>
						<ul class="input-wrap wid-350">
							<li class="name">
								<label>Buyer No</label>
							</li>
							<li class="txt">
								<input type="text" name="BuyerNo" v-model="queryForm.BuyerNo">
							</li>
						</ul>

						<ul class="input-wrap">
							<li class="name">
								<label>완료구분</label>
							</li>
							<li class="txt">
								<div class="select">
									<input type="text" class="drop-box-input" name="WorkCond8Name" v-model="queryForm.WorkCond8Name" @click="openCloseDropBox('WorkCond8Name')" @input="likeSelect2('WorkCond8')">
									<ul class="drop-box">
										<li v-for="item in WorkCond8NameList" @click="openCloseDropBox('WorkCond8Name')" :value="item.key">{{item.val}}</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<button class="btn-hide mo" onclick="GX._METHODS_.hide()"></button>
			</div>
			<div class="main-data-wrap">
				<div class="btn-row">
					<div>
						<button class="btn-stlye-01" @Click="search()">
							<img src="img/ic_04.png" alt="조회버튼이미지">
							<span class="web">조회</span>
						</button>
						<button class="btn-stlye-04 web" @Click="excelDownload">
							<img src="img/ic_05.png" alt="다운로드">
							<span class="web">엑셀 다운로드</span>
						</button>
					</div>
				</div>
				<div class="data-table" id="grid"></div>
			</div>

			<div id="changePwDialog" class="change-pw-dialog-wrap" style="display: none;">
				<div class="change-pw-dialog-container">
					<div class="change-pw-dialog-title">비밀번호 변경</div>
					<div class="change-pw-dialog-content">
						<ul>
							<li>
								<label>기존 비밀번호</label>
								<input type="text" id="nowPw" onkeyup="GX._METHODS_.pwChk()">
								<p style="color: white;" id="pNowPw">-</p>
							</li>
							<li>
								<label>신규 비밀번호</label>
								<input type="password" id="newPw" onkeyup="GX._METHODS_.pwChk()">
								<!-- <p style="color: white;" id="pNewPw">-</p> -->
							</li>
							<li>
								<label>비밀번호 확인</label>
								<input type="password" id="newPwChk" onkeyup="GX._METHODS_.pwChk()">
								<p style="color: white;" id="pNewPwChk">-</p>
							</li>
						</ul>
					</div>
					<div class="change-pw-dialog-footer">
						<button onclick="GX._METHODS_.saveChangePw()">저장</button>
						<button onclick="GX._METHODS_.changePwDialogHide()">닫기</button>
					</div>
				</div>
			</div>
		</main>
	</div>
	<script src="js/common/app.js?v=1665537373142"></script>
</body>
</html>