<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>외주발주품목조회</title>
	<link rel="stylesheet" href="css/setup.css">
	<link rel="stylesheet" href="css/scm_style.css">
	<link rel="stylesheet" href="css/date_picker.css">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div v-cloak id="app">
		<header>
			<div class="con">
				<button class="btn-menu" onclick="GX._METHODS_.clickLeftMenu()"></button>
				<a href="javascript:void(0)" onclick="location.replace('main.html')" class="web">
					<img src="img/logo.png" alt="로고이미지">
				</a>
				<span class="page-name">외주발주품목조회</span>
			</div>
			<div class="con">
				<div class="cart">
					<img src="img/ic_01.png" alt="알림이미지">
					<span class="alarm">12</span>
				</div>
				<div class="user-info web" @click="userInfoClick()">
					<div class="frame">
						<img src="img/user.png" alt="유저이미지">
					</div>
					<p class="user-name" v-if="deptName !== ''">{{userName}}</p>
					<p class="user-name" v-else>{{deptName}} {{userName}}</p>
				</div>
			</div>
		</header>
		<main>
			<div class="left-menu" v-html="leftMenu"></div>
			<div class="top-data-wrap">
				<div class="data-row-wrap">
					<div class="data-row">
						<ul class="input-wrap">
							<li class="name essential">
								<label>작업예정일</label>
							</li>
							<li class="date">
								<input type="text" name="WorkDateFr" class="datepicker" v-model.trim="queryForm.WorkDateFr" gx-datepicker="queryForm.WorkDateFr" @change="updateDate">
								<span>-</span>
								<input type="text" name="WorkDateTo" class="datepicker" v-model.trim="queryForm.WorkDateTo" gx-datepicker="queryForm.WorkDateTo" @change="updateDate">
							</li>
						</ul>

						<ul class="input-wrap">
							<li class="name">
								<label>작업지시일</label>
							</li>
							<li class="date">
								<input type="text" name="WorkOrderDateFr" class="datepicker" v-model.trim="queryForm.WorkOrderDateFr" gx-datepicker="queryForm.WorkOrderDateFr" @change="updateDate">
								<span>-</span>
								<input type="text" name="WorkOrderDateTo" class="datepicker" v-model.trim="queryForm.WorkOrderDateTo" gx-datepicker="queryForm.WorkOrderDateTo" @change="updateDate">
							</li>
						</ul>

						<ul class="input-wrap">
							<li class="name">
								<label>진행상태</label>
							</li>
							<li>
								<div class="select">
									<input type="text" class="drop-box-input" name="SMCurrStatusName" v-model="queryForm.SMCurrStatusName" @click="openCloseDropBox('SMCurrStatusName')" readonly>
									<ul class="drop-box">
										<li v-for="item in SMCurrStatusList" @click="openCloseDropBox('SMCurrStatusName')" :value="item.key">{{item.val}}</li>
									</ul>
								</div>
							</li>
						</ul>

						<ul class="input-wrap wid-350">
							<li class="name">
								<label>작업지시번호</label>
							</li>
							<li class="txt">
								<input type="text" name="WorkOrderNo" v-model="queryForm.WorkOrderNo">
							</li>
						</ul>
					</div>
					<div class="data-row">
						<ul class="input-wrap">
							<li class="name">
								<label>품번</label>
							</li>
							<li class="txt">
								<input type="text" name="GoodItemNo" v-model="queryForm.GoodItemNo">
							</li>
						</ul>
						<ul class="input-wrap">
							<li class="name">
								<label>품명</label>
							</li>
							<li class="txt">
								<input type="text" name="GoodItemName" v-model="queryForm.GoodItemName">
							</li>
						</ul>
						<ul class="input-wrap">
							<li class="name">
								<label>규격</label>
							</li>
							<li class="txt">
								<input type="text" name="GoodItemSpec" v-model="queryForm.GoodItemSpec">
							</li>
						</ul>
						<ul class="input-wrap wid-350">
							<li class="name">
								<label>공정</label>
							</li>
							<li class="txt">
								<div class="select">
									<input type="text" class="drop-box-input" name="ProcessName" v-model="queryForm.ProcessName" @click="openCloseDropBox('ProcessName')" @input="likeSelect2()">
									<ul class="drop-box">
										<li v-for="item in ProcessNameList" @click="openCloseDropBox('ProcessName')" :value="item.key">{{item.val}}</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<button class="btn-hide mo" onclick="hide();"></button>
			</div>
			<div class="main-data-wrap">
				<div class="btn-row">
					<div>
						<button class="btn-stlye-01" @Click="search(addSummary)">
							<img src="img/ic_04.png" alt="조회버튼이미지">
							<span class="web" id="btn-query">조회</span>
						</button>

						<button class="btn-stlye-02" @Click="jumpOutPoDelv">
							<img src="img/ic_05.png" alt="납품등록버튼이미지">
							<span id="btn-jump_out_po_delv">납품등록</span>
						</button>
					</div>

					<button class="btn-stlye-03" @Click="save">
						<img src="img/ic_06.png" alt="저장버튼이미지">
						<span id="btn-save">저장</span>
					</button>
				</div>

				<div class="data-table" id="grid"></div>
			</div>
		</main>
	</div>

	<script src="js/common/app.js?v=1665537373142"></script>
</body>
</html>