<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>구매납품입력</title>
	<link rel="stylesheet" href="css/setup.css">
	<link rel="stylesheet" href="css/scm_style.css">
	<link rel="stylesheet" href="css/date_picker.css">
	<style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
	<div v-cloak id="app">
		<header>		
			<div class="con">
				<button class="btn-menu" onclick="GX._METHODS_.clickLeftMenu()"></button>
				<a href="javascript:void(0)" onclick="location.replace('main.html')" class="web">
					<img src="img/logo.png" alt="로고이미지">
				</a>
				<span class="page-name">구매납품입력</span>
			</div>
			<div class="con">
				<div class="cart">
					<img src="img/ic_01.png" alt="알림이미지">
					<span class="alarm">12</span>
				</div>
				<div class="user-info web" @click="userInfoClick()">
					<div class="frame">
						<img src="img/user.png" alt="유저이미지">
					</div>
					<p class="user-name" v-if="deptName !== ''">{{userName}}</p>
					<p class="user-name" v-else>{{deptName}} {{userName}}</p>
				</div>
			</div>
		</header>
		<main>
			<div class="left-menu" v-html="leftMenu"></div>
			<div class="top-input-wrap">
				
				<div class="btn-row">
					<div>
						<button class="btn-stlye-04">
							<img src="img/ic_07.png" alt="구매납품전표버튼이미지">
							<span class="web">구매납품전표</span>
						</button>

						<button class="btn-stlye-05" @click="del()">
							<img src="img/ic_02.png" alt="삭제버튼이미지">
							<span class="web">삭제</span>
						</button>
					</div>

					<button class="btn-stlye-03" @click="save()">
						<img src="img/ic_06.png" alt="저장버튼이미지">
						<span>저장</span>
					</button>	
				</div>

				<div class="input-container">
					<div class="input-wrap">
						<div class="left">
							<ul class="condition date">
								<li class="name essential">
									<label>납품일</label>
								</li>
								<li>
									<input type="text" class="datepicker" name="DelvDate" v-model.trim="queryForm.DelvDate" gx-datepicker="queryForm.DelvDate" @chagne="updateDate">
								</li>
							</ul>
							<ul class="condition num">
								<li class="name">
									<label>납품번호</label>
								</li>
								<li class="text">
									<input type="text" v-model="queryForm.DelvNo" readonly>
								</li>
							</ul>
							<ul class="condition sub">
								<li class="name">
									<label>특이사항</label>
								</li>
								<li class="text">
									<input type="text" v-model="queryForm.RemarkM">
								</li>
							</ul>				
						</div>
						<div class="web">						
							<ul class="condition division">
								<li class="name essential">
									<label>내외자구분</label>
								</li>
								<li>
									<div class="select">
										<input type="text" class="drop-box-input" v-model="queryForm.SMImpTypeName" @click="openCloseDropBox" readonly>
										<ul class="drop-box">
											<li v-for="item in SMImpTypeList" @click="openCloseDropBox" :value="item.key">{{item.val}}</li>
										</ul>
									</div>
								</li>
							</ul>
							<ul class="condition country">
								<li class="name essential">
									<label>통화</label>
								</li>
								<li class="txt">
									<input type="text" v-model="queryForm.CurrName" readonly>
								</li>
							</ul>
							<ul class="condition currency">
								<li class="name essential">
									<label>환율</label>
								</li>
								<li class="txt">
									<input type="text" v-model="queryForm.ExRate" readonly>
								</li>
							</ul>				
						</div>
					</div>
					<div class="sum-wrap">
						<ul class="condition value-1">
							<li class="name">+ 금액계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumCurAmt">
								<span class="won">원</span>
							</li>
						</ul>

						<ul class="condition value-2">
							<li class="name">+ 부가세계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumCurVAT">
								<span class="won">원</span>
							</li>
						</ul>

						<ul class="condition value-3">
							<li class="name">= 금액총계</li>
							<li class="txt">
								<input type="text" v-model="summaryArea.SumTotCurAmt">
								<span class="won">원</span>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="main-data-container">
				<div class="btn-row">
					<button class="btn-stlye-06" @click="delRow">행 삭제하기</button>
				</div>
				<div class="data-table" id="grid"></div>
			</div>
		</main>
	</div>

	<script src="js/common/app.js?v=1665537373142"></script>
</body>

</html>